@page "/read"
@using ProjectBlazor.Shared
@using System.Net.Http
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@attribute [Authorize]
@using MatBlazor

<h3>Lista de Registros - <a href="/create/@_userProfileDto?.UserId"><button class="btn btn-primary">Create</button></a></h3>
<button class="btn btn-primary" @onclick="ChangeView">
    @if (viewfiltered)
    {
        <span>Ocultar Itens</span>
    }
    else
    {
        <span>Mostrar Todos</span>
    }
</button>
<br>
<br>
@if (contagemUnidades != null && contagemUnidadesFalse != null && contagemUnidadesTrue != null)
{
     <MatTabGroup>
            <MatTab Label="Total">
               <MatTable Items="@contagemUnidades" class="mat-elevation-z5 table table-bordered table-striped table-hover">
    <MatTableHeader>
        <th>Data</th>
            <th>Total de Unidades</th>
    </MatTableHeader>
        <MatTableRow>
                    <td>@context.Key.ToString("yyyy-MM-dd")</td>
                    <td>@context.Value</td>
        </MatTableRow>
    </MatTable>
            </MatTab>
            <MatTab Label="Red's">
               <MatTable Items="@contagemUnidadesFalse" class="mat-elevation-z5 table table-bordered table-striped table-hover">
    <MatTableHeader>
        <th>Data</th>
            <th>Total de Unidades</th>
    </MatTableHeader>
        <MatTableRow>
                    <td>@context.Key.ToString("yyyy-MM-dd")</td>
                    <td>@context.Value</td>
        </MatTableRow>
    </MatTable>
            </MatTab>
            <MatTab Label="Green's">
               <MatTable Items="@contagemUnidadesTrue" class="mat-elevation-z5 table table-bordered table-striped table-hover">
    <MatTableHeader>
        <th>Data</th>
            <th>Total de Unidades</th>
    </MatTableHeader>
        <MatTableRow>
                    <td>@context.Key.ToString("yyyy-MM-dd")</td>
                    <td>@context.Value</td>
        </MatTableRow>
    </MatTable>
            </MatTab>
            
     </MatTabGroup>
}
<br>


@if (todos != null)
{
    <div>
     <MatTable Items="@todosFiltered" class="mat-elevation-z5 table table-bordered table-striped table-hover">
    <MatTableHeader>
        <th>Check</th>
            <th>Desc</th>
            <th>Odd (x)</th>
            <th>Unidade</th>
            <th>Data</th>
            <th>Green / Red</th>
    </MatTableHeader>
    <MatTableRow>
        @if (context.Green == true)
                {
                    classInput = "green";
                }
                else
                {
                    classInput = "red";
                }
                    <td><input type="checkbox" @bind="context.IsDone" disabled /></td>
                    <td><input class="@classInput" type="text" id="title" @bind="context.Title" disabled /></td>
                    <td><input class="@classInput" type="number" id="value" @bind="context.Value" disabled /></td>
                    <td><input class="@classInput" type="number" id="unidad" @bind="context.Unidad" disabled /></td>
                    <td><input class="@classInput" type="text" id="unidad" @bind="context.DateInsert" disabled /></td>
                    @if (!context.IsDone)
                    {
                        <td>
                        <select  class="form-select" @onchange="e => CheckResult(e, context.Id,context.Value,context.Unidad)">
                            <option selected value="">Select</option>
                            <option value="true">Green</option>
                            <option value="false">Red</option>
                        </select>
                        </td>
                    }
    </MatTableRow>
</MatTable>
</div>
}
else
{
    <h2>Nao tem dados</h2>
    <button @onclick="LoadTodos">Carregar Tarefas</button>
}

@code {
    private List<TodoItem> todos = new List<TodoItem>();
    private List<TodoItem> todosFiltered = new List<TodoItem>();

    public string? classInput;
    private UserProfileDto? _userProfileDto;
    private WalletDate walletItem = new WalletDate();
    private decimal result;
    bool considerarGreen = false; // Defina como 'false' se não quiser considerar 'Green'

    public Dictionary<DateTime, decimal> contagemUnidades;
    public Dictionary<DateTime, decimal> contagemUnidadesTrue;
    public Dictionary<DateTime, decimal> contagemUnidadesFalse;
    public bool viewfiltered = true;


    public void ChangeView()
    {
        viewfiltered = !viewfiltered;

        if (viewfiltered)
        {
            todosFiltered = todos;
            CalcularContagemUnidadesPorDia(null);
            CalcularContagemUnidadesPorDia(true);
            CalcularContagemUnidadesPorDia(false);
        }
        else
        {
            todosFiltered = todos.Where(item => !item.IsDone).ToList();
            CalcularContagemUnidadesPorDia(null);
            CalcularContagemUnidadesPorDia(true);
            CalcularContagemUnidadesPorDia(false);
        }
    }
    private async Task LoadTodos()
    {
        try
        {
            todos = await HttpClient.GetFromJsonAsync<List<TodoItem>>($"api/todo/all/{_userProfileDto.UserId}");
            ChangeView();
            //todos = todos.Where(item => !item.IsDone).ToList();
        }
        catch (Exception ex)
        {
            // Lidar com erros de carregamento
        }
    }
    private async void CheckResult(ChangeEventArgs e, Guid id, decimal value, decimal unidad)
    {
        string comp = e.Value.ToString();
        if (comp != "")
        {
            if (comp == "true")
            {
                result = walletItem.Wallet + ((walletItem.Unit * value) * unidad);
            }
            else
            {
                result = walletItem.Wallet - (walletItem.Unit * unidad);
            }
            await HttpClient.PutAsJsonAsync($"api/todo/confirm/{id}", e.Value);
            await HttpClient.PutAsJsonAsync($"api/wallet/change/{walletItem.Id}", result);
            await LoadTodos();
            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        if (_userProfileDto == null)
        {
            var response = await HttpClient.GetAsync("api/Auth/user-profile");
            if (response.IsSuccessStatusCode)
            {
                _userProfileDto = await response.Content.ReadFromJsonAsync<UserProfileDto>();
                await LoadTodos();
                await CalcularContagemUnidadesPorDia(null);
                await CalcularContagemUnidadesPorDia(true);
                await CalcularContagemUnidadesPorDia(false);
            }
        }

        try
        {
            walletItem = await HttpClient.GetFromJsonAsync<WalletDate>($"api/wallet/{_userProfileDto.UserId}");
        }
        catch (Exception ex)
        {

        }
    }
    // Função para calcular a contagem de unidades por dia com base em 'Green'
    public async Task CalcularContagemUnidadesPorDia(bool? considerarGreen)
    {

        var itensFiltrados = todosFiltered;

        if (considerarGreen.HasValue)
        {
            itensFiltrados = itensFiltrados.Where(item => item.Green == considerarGreen.Value).ToList();
            if (considerarGreen.Value == true)
            {
                contagemUnidadesTrue = new Dictionary<DateTime, decimal>();
                foreach (var todo in itensFiltrados)
                {
                    var dataDia = todo.DateInsert.Date;

                    if (contagemUnidadesTrue.ContainsKey(dataDia))
                    {
                        contagemUnidadesTrue[dataDia] += todo.Unidad;
                    }
                    else
                    {
                        contagemUnidadesTrue[dataDia] = todo.Unidad;
                    }
                }

            }
            else
            {
                contagemUnidadesFalse = new Dictionary<DateTime, decimal>();
                foreach (var todo in itensFiltrados)
                {
                    var dataDia = todo.DateInsert.Date;

                    if (contagemUnidadesFalse.ContainsKey(dataDia))
                    {
                        contagemUnidadesFalse[dataDia] += todo.Unidad;
                    }
                    else
                    {
                        contagemUnidadesFalse[dataDia] = todo.Unidad;
                    }
                }

            }
        }
        else
        {
            contagemUnidades = new Dictionary<DateTime, decimal>();
            foreach (var todo in itensFiltrados)
            {
                var dataDia = todo.DateInsert.Date;

                if (contagemUnidades.ContainsKey(dataDia))
                {
                    contagemUnidades[dataDia] += todo.Unidad;
                }
                else
                {
                    contagemUnidades[dataDia] = todo.Unidad;
                }
            }
        }

    }
}
